body{
    background-color: #1f1f1f;
}

img{
    display: block;
    width: 25%;
}

main{
    margin: auto;
    width: 50%;
    background-color: white;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
    padding: 0;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.035);
}

#shell{
    background-color: white;
    padding: 1rem;
}

.about-me{

    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.my-work{

    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
}


p{
    font-size: 12px;
}

.projects{
    display: flex;
    justify-content: space-evenly;
}

.pr1,.pr2,.pr3{
    padding: 3rem;
    border: 1px dashed black;
}

.footer{
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}