body{
    background-color: #1f1f1f;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
    background-color: white;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
    padding: 3rem;
}

.about-me{
    width: 100%;
    margin-bottom: 5rem;
}

.my-work{
    width: 100%;
}

#heading2,.projects{
    margin-bottom: 6rem;
}

p{
    font-size: 12px;
}

.projects p{
    margin: 0 3em 0 3em ;
}

.projects{
    display: flex;
}